<a href="https://colab.research.google.com/github/King-Bowie/pandas-testando-e-analisando/blob/main/Pandas_testando_e_analisando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
dados = pd.read_csv( 'https://raw.githubusercontent.com/King-Bowie/pandas-testando-e-analisando/main/dados/aluguel.csv' ,sep = ';')

In [3]:
dados.head()

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Bot창nico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higien처polis  ...       230.0     NaN

[5 rows x 9 columns]

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB